section.filters {
    background-color: rgb(77, 103, 135);
    display: block;
    
    label {
        font-family: 'Cantarell',
        sans-serif;
    }

    .filters {
        display: flex;
        justify-content: space-around;
    }
    & > div > input:nth-child(2) {
        background-color: #E3F2FD;
        border: none;
    }
}