section  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    article {
        height: 500px;
        margin: 10px;

        >* {
            margin: 5px;
        }

        img  {
            height: 300px;
            width: auto;
        }
    }
}