section.cardsGrid  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E3F2FD;
    
    article {
        width: 300px;
        margin: 10px;
        background-color: rgb(77, 103, 135);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section.details {
            width: 100%;
            background-color: rgb(77, 103, 135);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        h3 {
            font-family: 'Gentium Basic', serif;
        }

        p {
            font-family: 'Cantarell', sans-serif;
        }

        > * {
            margin: 5px;
        }

        img  {
            height: 300px;
            width: auto;
        }

        .faHeart {
            color: #DB5461;
        }
    }
}

